
{{> head}}
{{> navbar}}

<div class="row">

<div class="col-8">
    <h1>Gatitos</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit odio maiores velit officia nostrum sequi, dolorum at consequatur fugiat assumenda nihil. Sunt dolorem nemo ipsum praesentium quae molestias tempora qui.</p>
</div>

<div class="col-4">
<img src="assets/img/gatito.jpg" class="img-thumbnail">
</div>

</div>

{{> footer}}